#FakeBook{
    height: 100vh;
    overflow-y: hidden;
}
.Page_Up{
    padding-top:112px; 
    height: 100vh;
}

.Page_Down{
    display: none;
}

#Liste_Articles{
    width: 80vw; 
    height: 100%; 
    overflow-y:scroll;
}

#Messagerie{
    padding-top:112px; 
    width: 20vw; 
    height: 100%;
}

#Liste_Contact{
    height: 20%;
}

#Vide_Messagerie{
    height: 8%;
}

#Echange_Contact{
    height: 72%;
}

.Article{
    height: 300px;
}

.Artcile_Header{
    height: 40px;
}

.Photo_posteur{
    margin: 5px; 
    height: 30px;
    width: 30px;
}

.Titre_Article{
    margin: 5px; 
    height: 30px;
    text-overflow: ellipsis; 
    white-space: nowrap; 
    overflow: hidden
}

.Conversation{
    height: 94%; 
    font-size: 1.5rem
}

.Correspondant{
    height: 5%;
}

.Echange{
    width: 100%; 
    height: 95%; 
    overflow-y: scroll;
}

.Text_Conv{
    font-size: 1rem;
}

.Zone_de_saisie{
    height: 6%;
}