body {
  background-color: #DDD ;
}

#FakeBook{
    height: 100vh;
    overflow-y: hidden;
}

#En-tete{
    height: 0vh;
}

#Header_onglet{
    height:50vb
}

#Header_recherche{
    margin-top:36px; 
}

#url{
    padding-top: 4px
}

#urlBar{
    width: 1000px
}

.Page_Up{
    padding-top:90px;
    height: 100vh;
}

.Page_Down{
    display: none;
}

#PosteurPhoto{
    height : 50px;
    width : 50px;
    margin-right: 15px;
}

#PosteurName{
    margin-top: 8px;
}

#UserInfo{
    width: 30vw;
    background-color: #DDD ;
}

#ContextImage{
    max-width: 100%;
}

.ProfilePicture{
    padding-top: 40px;
    padding-left: 9vw;
}

.ProfilePicture img{
    width: 10vw;
}

.UserInfoText{
    padding-left: 2vw;
    font-size: 1.2em;
    font-weight:bold;
    text-align: center;
}

.UserInfoSeperation{
    padding-top: 15px;
}

.ArticlePage{
    width: 100%;
    height: auto;
    overflow-y:scroll;
}

.ArticlePage img{
    width: 100%;
}

.selectedTab{
    color: blue;
}

.unselectedTab{
    color: white;
}

